@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto !important;
  /* font-family: "KouzanBrushFont", cursive, sans-serif; */
  /* font-family: "Noto Serif TC"; */
}

/* 明確讓 #root 捲動 */
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "KouzanBrushFont";
  src: url("/fonts/KouzanBrushFontOTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceHanSerifTC";
  src: url("/fonts/SourceHanSerifTC-VF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
