@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 預防水平滾動條 */
  box-sizing: border-box;
}

#navbar-root {
  width: 100vw;
  position: relative;
  /* z-index: 100; */
}

#footer-root {
  width: 100vw;
  position: relative;
  /* z-index: 100; */
}

@font-face {
  font-family: "SourceHanSerifTC";
  src: url("/fonts/SourceHanSerifTC-VF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SourceHanSerifTC", sans-serif;
}
