@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto !important;
}

/* 明確讓 #root 捲動 */
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.prose img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "KouzanBrushFont";
  src: url("/fonts/KouzanBrushFontOTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* noto-serif-tc-regular - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-serif-tc-v33-chinese-traditional-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-tc-700 - chinese-traditional */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-serif-tc-v33-chinese-traditional-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: "LXGW WenKai TC";
  src: url("/fonts/LXGWWenKaiTC-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LXGW WenKai TC";
  src: url("/fonts/LXGWWenKaiTC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LXGW WenKai TC";
  src: url("/fonts/LXGWWenKaiTC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
